[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/azrael/Escritorio/madrid.ogg]
row=1
col=0

[/home/azrael/Escritorio/barcelona.ogg]
row=2
col=0

[/home/azrael/Escritorio/steam.desktop]
row=0
col=0

